<%if notice%>
  <div id="notice" class="alert alert-success"><%= notice %></div>
<%end%>


<%= render 'table', current_week: true %>

<h3>Próxima Semana</h3>

<%= render 'table', current_week: false %>

